:root {
    --Black: #141414;
    --secondaire: #00c3ff;
}

/* Fond noir total et centrage */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
    overflow: hidden;
}

/* Le cadre doré qui s'adapte (90% de l'écran max) */
#login-frame {
    background-color: var(--Black);
    border: 4px solid var(--secondaire);
    width: 90vw;
    max-width: 500px; /* Largeur max pour PC */
    padding: 40px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--secondaire);
    margin-bottom: 30px;
    font-size: 2rem;
}

.login-box {
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    color: var(--secondaire);
    font-size: 0.9rem;
    font-weight: bold;
}

input {
    background: black;
    border: 2px solid var(--secondaire);
    color: white;
    padding: 12px;
    font-family: inherit;
    outline: none;
}

input:focus {
    box-shadow: 0 0 10px var(--secondaire);
}

.login-btn {
    width: 100%;
    background: transparent;
    color: var(--secondaire);
    border: 2px solid var(--secondaire);
    padding: 15px;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}

.login-btn:hover {
    background: var(--secondaire);
    color: var(--Black);
}

.footer-link {
    color: #666;
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
}

.footer-link span {
    color: var(--secondaire);
    cursor: pointer;
    text-decoration: underline;
}