:root {
    --Black: #141414;
    --secondaire: #00c3ff;
}

/* Background */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
    overflow: hidden;
}

/* truc pour garder l'ecran en fonction */
#game-screen {
    background-color: var(--Black);
    border: 4px solid var(--secondaire);
    
    /* définit la proportion */
    aspect-ratio: 16 / 9;
    
    /* Il prend 95% de la place disponible sans jamais déborder */
    width: 95vw; 
    max-height: 95vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.2);
}

/* 3. Style du Menu */
#menu-container {
    text-align: center;
}

.title {
    color: var(--secondaire);
    font-size: clamp(1.5rem, 5vw, 3.5rem); 
    margin-bottom: 2rem;
    text-shadow: 3px 3px 0px black;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-btn {
    background: transparent;
    color: var(--secondaire);
    border: 2px solid var(--secondaire);
    padding: 0.8rem 2rem;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.menu-btn:hover {
    background: var(--secondaire);
    color: var(--Black);
}

.arena-title {
    color: var(--secondaire);
    font-family: 'Courier New', monospace;
}
